.input-field{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.input-field input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    text-align: center;
}
.poke-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke-button button{
    padding: 10px 20px;
    background-color: #000080;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.poke-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}